@import url("theme.css");

.rst-content tt {
    white-space: nowrap;
    max-width: 100%;
    background: #F1F1F1;
    border: solid 1px #e1e4e5;
    font-size: 16px;
    padding: 8px 8px;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    color: #000000;
    overflow-x: auto
}